<div class="listings">
 <div class="listings_channels">
   <ul class="channel_list">
    <%= sidebar_link_item('アカウント', users_account_path) %>
    <%= sidebar_link_item('プロフィール', users_profile_path) %>
  </ul>
</div>
</div>
